{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div>
    <!--    Здесь может содержаться персональная информация для каждого пользователя -->
    {% if not is_not_authors %}
        Вы присоединины к группе "Авторы".
    {% endif %}

</div>

<button> <a href="accounts/logout/">Выйти</a> </button>

<!-- Добавил кнопку «Присоединиться к группе "Авторы"». -->
{% if is_not_authors %}
<button> <a href="sign/upgrade/"> Присоединиться к группе "Авторы"</a> </button>
{% endif %}

<h3>Существующие категории:</h3>
<form method="post">
    {% csrf_token %}
    <ul>
        {% for category in categories %}
            <li><input type="checkbox" name="categories" value="{{ category.id }}"> {{ category.name_of_category }}</li>
        {% endfor %}
    </ul>
    <button type="submit">Подписаться</button>
</form>
{% endblock %}
