<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--  подключить свой фильтр censor.py -->
{% load censor %}

<!-- Название у нас будет Pост -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим статью, идентификатор которой был передан в url -->
{% block content %}
<!-- Название строки в заголовке. -->
<h1>{{ article.title|censor }}</h1>
<!-- Пытаюсь программировать в HTML. -->
<hr>
<h2>{{ article.text_article_or_news|censor }}</h2>
<h3>{{ article.date_and_time|date:"d.m.Y" }}</h3>
{% endblock content %}