{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>НОВОСТИ</h1>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название поста</td>
               <td>Текст</td>
               <td>Дата загрузки</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.date_and_time}}</td>
               <td>{{ post.text_article_or_news|truncatechars:20 }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}